
// URL to base font directory
$open-sans-path: "../fonts" !default;
$open-sans-formats: ("eot", "svg", "ttf", "woff") !default;

// @font-face mixin

@mixin open-sans-font-face( $font, $svgid, $weight: normal, $style: normal ) {
	$src: ();
	$eot: null;

	@each $format in $open-sans-formats {
		@if $format == "eot" {
			$src: $src, url('#{$open-sans-path}/#{$font}/opensans-#{$font}-webfont.eot#iefix') format('embedded-opentype');
			$eot: url('../fonts/extrabold/opensans-extrabold-webfont.eot');
		}
		@if $format == "svg" {
			$src: $src, url('#{$open-sans-path}/#{$font}/opensans-#{$font}-webfont.svg##{$svgid}') format('svg');
		}
		@if $format == "ttf" {
			$src: $src, url('#{$open-sans-path}/#{$font}/opensans-#{$font}-webfont.ttf') format('ttf');
		}
		@if $format == "woff" {
			$src: $src, url('#{$open-sans-path}/#{$font}/opensans-#{$font}-webfont.woff') format('woff');
		}
	}

	@font-face {
		font-family: 'Open Sans';
		@if $eot != null {
			src: $eot;
		}
		src: unquote($src);
		font-weight: $weight;
		font-style: $style;
	}
}
